<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            [ngClass]="isCollapsed ? 'side-nav-closed' : ''"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <nz-avatar 
          *ngIf="global?.domainUser?.account_logo"
          [nzSrc]="global?.domainUser?.account_logo"
          class="avatar"
        ></nz-avatar>
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
        <h1>
          {{(global?.domainUser?.name?.en | titlecase) || '-'}}
        </h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Voter" nzIcon="user-add">
        <ul>
          <li (click)="isCollapsed = !isCollapsed" nz-menu-item nzMatchRouter>
            <a routerLink="/voter">Voter</a>
          </li>
          <li (click)="isCollapsed = !isCollapsed" routerLink="/voter/add-voter" nz-menu-item nzMatchRouter>
            <a>Add Voter</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
            
            <nz-avatar 
              *ngIf="isCollapsed && global?.domainUser?.account_logo"
              [nzSrc]="global?.domainUser?.account_logo"
              class="avatar"
            ></nz-avatar>
        </span>
        <span *ngIf="global?.logout && isCollapsed" class="logout">
          <button nz-button nz-tooltip (click)="quickViewToggle()" class="mr-3"> 
            Logout
          </button>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
